<idea-plugin>
  <depends>com.intellij.modules.rider</depends>
  <idea-version since-build="192.6584" until-build="192.*" />
  <id>OneCode.ReSharperExtension</id>
  <name>OneCode</name>
  <version>1.0.0.0</version>
  <vendor url="https://github.com/HavenDV/OneCode.VSExtension">havendv</vendor>
  <description><![CDATA[
<p>This extension adds methods and classes from the repositories of your choice to IntelliSense autocompletion and allows you to automatically add them to the project after autocompletion</p>
]]></description>
  <change-notes>
  </change-notes>
</idea-plugin>